<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Docmed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/themes/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/themes/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/themes/css/magnific-popup.css">
    <link rel="stylesheet" href="~/themes/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/themes/css/themify-icons.css">
    <link rel="stylesheet" href="~/themes/css/nice-select.css">
    <link rel="stylesheet" href="~/themes/css/flaticon.css">
    <link rel="stylesheet" href="~/themes/css/gijgo.css">
    <link rel="stylesheet" href="~/themes/css/animate.css">
    <link rel="stylesheet" href="~/themes/css/slicknav.css">
    <link rel="stylesheet" href="~/themes/css/style.css">
    <link rel="stylesheet" href="~/css/style.css?v=@DateTime.Now.Ticks" />

</head>
<body>
    <header>
        
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-md-6 ">
                            <div class="social_media_links">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="short_contact_list">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-envelope"></i> info@docmed.com</a></li>
                                    <li><a href="#"> <i class="fa fa-phone"></i> 160160</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                
                                <a href="index.html">
                                    <img src="~/themes/img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                                        <li><a asp-action="Departments" asp-controller="Home">Departmanlar</a></li>
                                       @*  <li><a asp-action="DoctorLogin" asp-controller="Doctor">DoctorLogin</a></li> *@
                                        
                                        
                                        <li>
                                            <a asp-controller="Appointment" asp-action="CancelAppointment">Randevu İptal Sayfası</a>
                                        </li>
                                        <li><a asp-controller="Home" asp-action="Doctors">Doktorlar</a></li>
                                       
                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="book_btn d-none d-lg-block">
                                    <a asp-controller="Appointment" asp-action="Create">Randevu Al</a>
                                    @* <a asp-controller="Home" asp-action="Index" asp-area="Admin">Admin Paneli</a> *@
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </header>
    <div>
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    
                                    <img src="~/themes/img/footer_logo.png" />
                                </a>
                            </div>
                            <p>
                                Sağlığınız bizim için önemli. Hızlı ve kolay randevu almanın keyfini çıkarın. Profesyonel sağlık hizmeti için her zaman yanınızdayız.
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 offset-xl-1 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Departments
                            </h3>
                            <ul>
                                <li><a href="#">Göz Hastalıkları</a></li>
                                <li><a href="#">Cildiye</a></li>
                                <li><a href="#">Dahiliye</a></li>
                                <li><a href="#">Kadın Hastalıkları ve Doğum</a></li>
                                <li><a href="#">Genel Cerrahi</a></li>
                            </ul>

                        </div>
                    </div>
                    @* <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Linklerimiz
                            </h3>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#"> Contact</a></li>
                                <li><a href="#"> Appointment</a></li>
                            </ul>
                        </div>
                    </div> *@
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Adres
                            </h3>
                            <p>
                                200, D-block, Green lane USA <br>
                                +10 367 467 8934 <br>
                                docmed@contact.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end  -->
    <!-- link that opens popup -->
    <!-- form itself end-->
    
    <script src="~/themes/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/themes/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/themes/js/popper.min.js"></script>
    <script src="~/themes/js/bootstrap.min.js"></script>
    <script src="~/themes/js/owl.carousel.min.js"></script>
    <script src="~/themes/js/isotope.pkgd.min.js"></script>
    <script src="~/themes/js/ajax-form.js"></script>
    <script src="~/themes/js/waypoints.min.js"></script>
    <script src="~/themes/js/jquery.counterup.min.js"></script>
    <script src="~/themes/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/themes/js/scrollIt.js"></script>
    <script src="~/themes/js/jquery.scrollUp.min.js"></script>
    <script src="~/themes/js/wow.min.js"></script>
    <script src="~/themes/js/nice-select.min.js"></script>
    <script src="~/themes/js/jquery.slicknav.min.js"></script>
    <script src="~/themes/js/jquery.magnific-popup.min.js"></script>
    <script src="~/themes/js/plugins.js"></script>
    <script src="~/themes/js/gijgo.min.js"></script>
    <!--contact js-->
    <script src="themes/js/contact.js"></script>
    <script src="themes/js/jquery.ajaxchimp.min.js"></script>
    <script src="themes/js/jquery.form.js"></script>
    <script src="themes/js/jquery.validate.min.js"></script>
    <script src="themes/js/mail-script.js"></script>
    
    <script src="themes/js/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();
        });
    </script>
</body>
</html>

